.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style: none;
  position: absolute;
  border-radius: 8px;
  width: 50%;
  left: 10px;
  top: 50px;
  border-radius: 30px;
  background-color: rgba(15, 20, 20, 0.918);
}

.menu-icon {
  padding-top: 4px;
}
.nav-links {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0 20px 20px 20px;
}

.nav-links.open {
  margin: 5px;
  display: flex;
}

.nav-links li {
  margin: 10px 0;
  margin-top: 3em;
  border-bottom: 1px solid rgb(238, 234, 234);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: rgb(216, 197, 235);
}

.total-quantity {
  font-size: 15px;
  position: relative;
  right: 22px;
  color: red;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    background-color: initial;
    display: block;
    display: flex;
    flex-direction: row;
    position: initial;
    gap: 40px;
  }
  .nav-links li {
    margin: 0;
    border: none;
  }
  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
  }

  .nav-links li a:hover {
    text-decoration: underline 3px;
    color: rgb(49, 49, 49);
  }
}
