footer {
  background-color: rgb(61, 59, 59);
  color: rgb(236, 235, 235);
}

.p-footer {
  margin: 0;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  color: rgb(209, 208, 208);
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.social-icons {
  margin: 10px;
  font-size: 1.2em;
}

.footer-newsletter {
  margin: 10px 10px 50px 10px;

  h4 {
    padding-top: 2em;
    font-size: 0.9em;
  }

  form {
    margin-top: 1em;
    display: flex;

    button {
      color: black;
      background-color: rgb(230, 225, 225);
      border: none;
      padding: 2px;
    }
  }
}

.links {
  margin: 0 10px;
}

.footer-lists {
  list-style: none;

  h6 {
    margin-bottom: 30px;
  }
}

.footer-menu {
  margin-top: 0.5em;
}

.header {
  display: flex;
  cursor: pointer;
}

.header p {
  margin: 0;
  flex-grow: 1;
  font-size: 0.8em;
}

.shipping-message {
  margin-top: 10px;
  font-weight: 200;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    width: 60%;
    margin-right: 5em;
  }

  .footer-newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
