.men-page {
  background: url(/src/assets/men-page.jpeg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: 1rem;
  box-shadow: 1px 1px 5px grey;
}

@media (min-width: 768px) {
  .men-page {
    background-position: 0 20%;
  }

  .button-category {
    display: flex;
    justify-content: center;
  }
}
