.women-page {
  height: 40vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: url(/src/assets/women.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.women-page h2 {
  z-index: 1;
}

.slogan-women {
  margin-left: 1rem;
}

.carousel {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}

.custom-carousel {
  width: 80%;
}

@media (min-width: 768px) {
  .women-page {
    background-position: 0 10%;
  }
}
