@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 233, 233);
}

main {
  height: 100%;
}

.landing-page {
  background-image: url(./assets/home.jpg);
  height: 50vh;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-wrap {
  display: flex;
  width: 100%;
  align-items: end;
  height: 100%;
  justify-content: center;
  padding-bottom: 0.5em;
}

.btn {
  width: 80%;
  padding: 1em;
  border: none;
}

.btn-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    background-color: rgba(73, 71, 71, 0.308);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 5px;
    font-weight: bolder;
    font-size: 1em;
  }
}

.heading {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
  font-family: "Bowlby One", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.5em;
}

.items-category h3 {
  text-align: center;
  font-size: 1.6em;
}

.category-btn button {
  padding: 0.5em;
  margin: 5px;
  font-size: 0.8em;
  border: none;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  &:hover {
    background-color: rgb(157, 154, 154);
  }
}

.clothing {
  margin: 5%;
}

.container-brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 10px;
}

.button-category {
  padding: 1em;
  margin-top: 3em;
}

.all-cat-btn {
  padding-bottom: 3.5em;
}

.products {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card-box {
  background-color: rgb(240, 240, 240);
  display: flex;
  width: 150px;
  height: 270px;
  margin-bottom: 10px;
  border: none;
  box-shadow: -1px 0px 3px rgba(128, 128, 128, 0.754);
}

.item-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 12px;
}
.card-desc {
  font-style: italic;
  font-size: 10px;
}

.card-price {
  font-weight: bolder;
  font-size: 10px;
}

.btn-item {
  background-color: rgb(56, 54, 54);
  color: white;
  font-size: 12px;
  width: 70px;
  border: none;
  border-radius: 10px;
  padding: 3px;

  &:hover {
    background-color: rgb(114, 110, 110);
    color: white;
  }
}

.shop {
  background-color: transparent;
  border: none;
  font-family: "Bowlby One", sans-serif;
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
  color: black;

  &:hover {
    background-color: transparent;
    color: red;
  }
}

.cart-img {
  width: 100%;
  max-height: 250px;
}

.slogan {
  display: flex;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
}

.slogan h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 1.5em;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
  font-family: "Bowlby One", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.3em;
  padding: 1em;
}

.in-progress {
  width: 70px;
  margin: auto;
  padding: 0;
}

@media (min-width: 768px) {
  main {
    width: 80%;
    margin: auto;
  }
  .landing-page,
  .women-page,
  .men-page,
  .kids-page {
    height: 60vh;
    background-position: 0 10%;
  }
  .heading {
    font-size: 1.8em;
  }
  .btn {
    width: 70%;
  }

  .category-btn button {
    margin: 20px;
  }

  .category-wrapper {
    gap: 5rem;
  }
}

@media (min-width: 1024px) {
  .btn {
    width: 50%;
    gap: 6em;
  }
}

@media (min-width: 1280px) {
  .landing-page,
  .women-page,
  .men-page,
  .kids-page {
    background-size: cover;
    background-position: 0 5%;
  }
}
