@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 233, 233);
}

main {
  min-height: 100vh;
}

.landing-page {
  background-image: url(./assets/fashion.avif);
  min-height: 50vh;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
  box-shadow: 1px 1px 5px grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-wrap {
  display: flex;
  width: 100%;
  padding-bottom: 0.5em;
  justify-content: center;
}

.btn {
  width: 80%;
  padding: 1em;
  border: none;
}

.btn-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1em;

  button {
    background-color: rgba(34, 33, 33, 0.703);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 5px;
    font-weight: bolder;
    font-size: 1em;

    &:hover {
      background-color: rgba(63, 62, 62, 0.703);
      font-size: 1.1em;
      color: rgb(200, 182, 182);
    }
  }
}

.heading {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 15px rgb(0, 0, 0);
  font-family: "Bowlby One", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.6em;
  margin-bottom: 1.5em;
}

.items-category h3 {
  text-align: center;
  font-size: 1.6em;
}

.category-btn button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 5px;
  font-size: 0.8em;
  border: 1px solid black;
  background-color: rgba(202, 196, 196, 0.488);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  &:hover {
    background-color: rgb(199, 195, 195);
  }
}

.clothing {
  margin: 5%;

  h3 {
    padding-bottom: 1em;
  }
}

.container-brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 20px;
}

.home-brand-img {
  height: 90%;
}

.home-card {
  max-width: 14rem;

  &:hover {
    background-color: rgba(164, 159, 159, 0.08);
  }
}

.button-category {
  padding: 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  gap: 20px;
}

.all-cat-btn {
  padding-bottom: 3.5em;
}

.products {
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.card-box {
  background-color: rgb(240, 240, 240);
  width: 150px;
  height: 270px;
  margin-bottom: 10px;
  border: none;
  box-shadow: -1px 0px 3px rgba(128, 128, 128, 0.754);
}

.item-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 12px;
}
.card-desc {
  font-style: italic;
  font-size: 10px;
}

.card-price {
  font-weight: bolder;
  font-size: 10px;
}

.btn-item {
  background-color: rgb(71, 70, 70);
  color: white;
  font-size: 12px;
  width: 70px;
  border: none;
  border-radius: 10px;
  padding: 3px;

  &:hover {
    background-color: rgb(114, 110, 110);
    color: white;
  }
}

.shop {
  background-color: transparent;
  border: none;
  font-family: "Bowlby One", sans-serif;
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
  color: black;

  &:hover {
    background-color: transparent;
    color: red;
  }
}

.cart-img {
  width: 100%;
  max-height: 250px;
}

.slogan {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.slogan h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 1.5em;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
  font-family: "Bowlby One", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.5em;
  padding: 1em;
}

.in-progress {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 5px;
}

/* swiper */

.swiper-container {
  background-color: rgba(192, 189, 189, 0.624);
  padding: 1em 0;
  margin: 5em 0;
}

.mySwiper {
  width: 90%;
}

.card-container {
  max-width: 150px;
  box-shadow: 0px 0px 2px grey;
  background-color: rgb(236, 232, 232);

  img {
    object-fit: cover;
    height: 100px;
  }
}

.swiper-card-body {
  margin-left: 10px;
}

.card-swiper-title {
  font-size: 10px;
  margin-top: 5px;
}

.card-swiper-price {
  font-size: 0.6em;
  margin-bottom: 0;
  font-weight: 400;
}

.btn-swiper {
  font-size: 0.5em;
  width: 60px;
  margin-bottom: 30px;
  color: black;
  background-color: rgb(185, 181, 181);
  border: none;
  border-radius: 5px;
  padding: 2px;
  margin-top: 10px;

  &:hover {
    background-color: rgb(168, 165, 165);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 80%;
    margin: auto;
  }

  .heading {
    font-size: 1.8em;
  }
  .btn {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  main {
    width: 60%;
    margin: auto;
  }
  .btn {
    width: 50%;
    gap: 6em;
  }

  .clothing h3 {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .landing-page,
  .women-page,
  .men-page,
  .kids-page {
    background-size: cover;
    background-position: 0 5%;
  }
}
